@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-primary: #eec72b;
  --color-background-light: #f8f8f6;
  --color-background-dark: #221e10;
  --font-display: "Manrope", sans-serif;
  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
}

@layer base {
  body {
    @apply antialiased text-slate-900 dark:text-slate-100 bg-background-light dark:bg-background-dark;
    font-family: 'Manrope', sans-serif;
  }
}
